<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessrecord</title>
</head>
<body>
    <center>
        <table border="=10px">
            <tr><th>pk</th>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>
            {% for ac in acess %}
                <tr><td>{{ ac.pk}}</td>
                    <td>{{ ac.name }}</td>
                    <td>{{ ac.date }}</td>
                    <td>{{ ac.author }}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>